
<p>HELLO - YOU CAN CONTACT ME NOW</p>
<p><a href='http://linkedin.com/in/joshua-hunter-2a4442185'>LINKED IN</a></p>
<p><a href='#'>phone: 360.265.7644</a></p>
<p><a href='https://github.com/hunterhanna2010'>GITHUB</a></p>

