<p>Which skills are you most interested in accessing?</p>
<input type="checkbox">HTML coding
<input type="checkbox">CSS rendering
<input type="checkbox">Javascript functioning
<input type="checkbox">Front/Back serving
<input type="checkbox">Express realtiming
<button type="submit">LET'S GO</button>
